
.header {
	cursor:pointer;
	color: green;
	text-decoration:underline;
}

.info {
	color: blue;
}

.container {
	background: lightgreen;
}

.button {
	background-color: lavender;
	border-radius: 10px;
}

.page {
	background: lightgoldenrodyellow;
	outline: 2px solid orange;
	border-radius: 3px;
}